<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <urlCompression doDynamicCompression="true" doStaticCompression="true" dynamicCompressionBeforeCache="false" />

        <httpCompression minFileSizeForComp="256">
            <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" />
            <dynamicTypes>
                <add mimeType="text/*" enabled="true" />
                <add mimeType="message/*" enabled="true" />
                <add mimeType="application/javascript" enabled="true" />
                <add mimeType="application/x-javascript" enabled="true" />
                <add mimeType="application/json" enabled="true" />
                <add mimeType="*/*" enabled="false" />
            </dynamicTypes>
            <staticTypes>
                <add mimeType="text/*" enabled="true" />
                <add mimeType="message/*" enabled="true" />
                <add mimeType="application/javascript" enabled="true" />
                <add mimeType="application/x-javascript" enabled="true" />
                <add mimeType="application/json" enabled="true" />
                <add mimeType="*/*" enabled="false" />
            </staticTypes>
        </httpCompression>

        <httpProtocol>
            <customHeaders>
                <remove name="X-Powered-By" />
            </customHeaders>
        </httpProtocol>

        <stripHeaders>
            <header name="Server" />
        </stripHeaders>

        <staticContent>
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" />
        </staticContent>

        <rewrite>
            <rules>
                <!--
                    BLOCK BAD BOTS
                    http://www.useragentstring.com/
                -->
                <rule name="BLOCK-BAD-BOTS" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{HTTP_USER_AGENT}" pattern="(bot|spider|slurp|008|arachmo|baidu|boitho|crawler|cosmos|covario|daumoa|drtrs|emonitor|findlinks|holmes|htdig|ia_archiver|jeeves|jbrowser|pear\.php|larbin|mabontland|robot|sbider|search|walker|webis|webfuck|zyborg)" ignoreCase="true" negate="false" />
                        <add input="{HTTP_USER_AGENT}" pattern="(apple|google|mediapartners|yahoo|bing|duckduck|twitterbot|pingdom)" ignoreCase="true" negate="true" />
                        <add input="{URL}" pattern="^/robots.txt$" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Forbidden" />
                </rule>

                <rule name="FORCE-DOMAIN" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="true">
                        <!-- Match the host and capture the main domain -->
                        <add input="{HTTP_HOST}" pattern="^(?:[^\.]+\.)?(wesiar|well-executed-spontaneity-is-always-rehearsed)\.com$" />
                        <!-- Ensure the host is not already the main domain -->
                        <add input="{HTTP_HOST}" pattern="^(wesiar|well-executed-spontaneity-is-always-rehearsed)\.com$" negate="true" />
                    </conditions>
                    <action type="Redirect" url="https://{C:2}.com/{R:1}" redirectType="Permanent" />
                </rule>

                <rule name="FORCE-HTTPS" enabled="true">
                    <match url="(.*)" ignoreCase="false" />
                    <conditions>
                        <add input="{HTTPS}" pattern="off" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" appendQueryString="true" redirectType="Permanent" />
                </rule>

                <rule name="ALL-GO-HOME" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/" appendQueryString="false" />
                </rule>
            </rules>
            <outboundRules>
                <rule name="Add Strict-Transport-Security when HTTPS" preCondition="" enabled="true">
                    <match serverVariable="RESPONSE_Strict_Transport_Security" pattern=".*" />
                    <conditions>
                        <add input="{HTTPS}" pattern="on" />
                    </conditions>
                    <action type="Rewrite" value="max-age=31536000" />
                </rule>
            </outboundRules>
        </rewrite>
    </system.webServer>
</configuration>